<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login with VK</title>
  </head>
  <div class="p-3 mb-2 bg-dark text-white">
  <body style="background-color:#343A40"></div>
    <div class="container">

    <div class="col-sm-6 col-sm-offset-3 text-right">

      <a class="btn btn-primary btn-lg" href="/login/vk-oauth2" role="button">Авторизация</a>




    </div>
      </div>
        </div>
  </body>

</html>
